# Core functionality - changes here should be rare!
/src/app.py                   @RyanHueting
/src/backend/database.py      @RyanHueting
/src/backend/routers/auth.py  @RyanHueting

# The frontend will need refactored soon to be more object oriented.
/src/static/   @RyanHueting
